 /*whole books app styling begins from here*/

.booksApp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.booksForm {
  background-color:#59AFB3;
  height: 60vh;
  width: 40vw;
  margin: 5vh 1vw;
}

.booksForm > input[type=text] {
  background-color:#26F4FF;
  color:white;
  width: 30vw;
  margin: 5vh 4.5vw;
  border: none;
  border-radius: 3px;
  font-size: 24pt;
  font-weight: bold;
  padding-left: 5px;
}

input[type=text]:focus{
  outline: none;
}

.booksForm > input[type=submit] {
  background-color: teal;
  margin: 2vh 16vw;
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 24pt;
}

.booksList {
  background-color: teal;
  color: azure;
  margin-top: 2vh;
  height: 100%;
  width: 40vw;
  text-align: center;

}